<div class="titlediv">
  <a class="title" href="/">Library App</a>
</div>
<hr>
<div class="menu">
  <span *ngIf="userDisplayName == null || userDisplayName.username==''">
    <a class="menulink" routerLink="/login">LOGOWANIE</a>
  </span>
  <span *ngIf="userDisplayName != null && userDisplayName.username!=''">
    <a class="logoutbutton" (click)="logout(userDisplayName.username,userDisplayName.password)">
      <!--<button type="submit"
      (click)="logout(userDisplayName.username,userDisplayName.password)">-->
        Zalogowany jako: {{userDisplayName.username}} (WYLOGUJ)</a>
      </span>
  <a class="menulink" routerLink="/bookslist">LISTA KSIĄŻEK</a>
  <a class="menulink" routerLink="/userpanel">PANEL ADMINISTRACYJNY</a>
</div>
<hr>
<router-outlet></router-outlet>