<div class="pagetitle">Panel administracyjny</div>

<div class="list"> 
    <table>
        <tr style="font-weight: bold;">
            <td>ID</td>
            <td>Nazwa użytkownika</td>
            <td>Hasło</td>
            <td>Ranga</td>
            <td>Status</td>
            <td>Akcje</td>
        </tr>
        <tr *ngFor="let user of users">
            <td>{{user.id}}</td>
            <td>{{user.username}}</td>
            <td>{{user.password}}</td>
            <td>{{user.type}}</td>
            <td *ngIf="user.status=='offline'">
                <div style="color: red">{{user.status}}</div>
            </td>
            <td *ngIf="user.status=='online'">
                <div style="color: green; font-weight: bold;">{{user.status}}</div>
            </td>
            <td>
                <button class="btn btn-danger" (click)="onDelete(user)">Usuń</button>
            </td>
            
        </tr>
    </table>
</div>
<br>

<div class="addusersform">
    <div style="font-weight: bold; text-align: center;">Dodawanie użytkownika:</div><br>
    
        <label>Username: <input #username/></label>&nbsp;
        <label>Password: <input type="password" #password/></label>&nbsp;
        <!--<label>Ranga: <input type="number" #year/></label>&nbsp;-->
        <label>Ranga:
            <select #rank>
                <option value="admin">Admin</option>
                <option value="normal">Zwykły użytkownik</option>
            </select>
        </label>&nbsp;
        <button class="btn btn-success" (click)="onAdd(username.value, password.value, rank.value);">Dodaj</button>
    <br>
</div>
<br><br>
<h1><div style="text-align: center; color: red">WYSZUKIWANIE - //TODO</div></h1>